body{
    background:aliceblue; 
}

h1{
    font-size: 35px;
}

h2{
    font-size: 25;
}

h3{
    
    font-size: 22;
}

#container{
    width: 70%;
    margin: 1 auto;
    background-color: white; 
    border:3px solid gray;
    overflow: auto;
    text-align: center;
    border-radius: 45px;
    margin-top: 3%;
    
}

#first-quarter{
    
    background:#dee2e8;
    margin-left:5%;
    margin-top:2.5%;
    width: 40%;
    float: left;
    padding:1%;
    border-radius: 35px;
    display: block;
    overflow: hidden;
    border: 1px solid grey;
}

#second-quarter{
    
    width: 40%;
    float: right;
    padding:1%;
    margin-right:5%;
    margin-top: 3%;
    background:#dee2e8;
    border-radius: 35px;
     border: 1px solid grey;

}

#third-quarter{
   background:#dee2e8;
    margin-left:5%;
    margin-top:2.5%;
    width: 40%;
    float: left;
    padding:1%;
    border-radius: 35px;
 border: 1px solid grey;
    overflow: auto
}


#fourth-quarter{
     width: 40%;
    float: right;
    padding:1%;
    margin-right:5%;
    margin-top: 2%;
    margin-bottom: 5%;
    background:#dee2e8;
    border-radius: 35px;
     border: 1px solid grey;
}

header{
    border-bottom: 2px solid grey;
    font-family: 'Bitter', serif;

    
}


ul{
    list-style: none; 
    overflow: auto;
}


li{
   
    font-weight: bold;
    font-size: 16px;
    text-align: center;
    margin-bottom: 10px;
   
    
}



a{
    padding: 3% 50px;
    color: #fff;
    background: #fa6e3e;
    border-radius: 13px;
    text-decoration: none;
    display: inline-block;
    font-weight: bold;
    border: solid black 5px;
    border: solid grey 1px;}

a:hover{
    background: #5988DE;
}

.cleafix{
    clear:both;
}

.inactivemonth{
    background-color:grey;
}

.inactivemonth  a:hover{
    background-color: #fa6e3e;
}

footer{
    padding-top: 15px;
    margin-top: 150px;
}

